<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-4">
      <h1 class="text-center">請輸入支出</h1>
      <span>* 必填欄位</span>
    </div>
    <form class="row col-12 col-sm-8" method="post" action="../expense/{{ expense._id }}?_method=PUT">
    <input type="hidden" value="{{expense.id}}" name="id">
         <div class="col-12 d-flex align-items-center mb-4">
            <label for="inputPassword" class="col-2">名稱 *：</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="名稱" name="name" value="{{ expense.name }}">
          </div>
          <div class="col-12 d-flex align-items-center mb-4">
            <label for="date" class="col-2">日期 *：</label>
            <input type="date" class="form-control" id="date" placeholder="{{ expense.date}}" name="date" value="{{dateFormat expense.date}}">
          </div>
          <div class="col-12 d-flex align-items-center mb-4">
            <label for="category" class="col-2">類別 *：</label>
            <select class="form-select form-select" aria-label=".form-select-lg example" name="categoryId" value="{{ expense.categoryId }}">
              <option >選擇類別</option>
              <option value="1" {{#ifeq expense.categoryId 1 }}selected{{/ifeq}}>家居物業</option>
              <option value="2" {{#ifeq expense.categoryId 2 }}selected{{/ifeq}}>交通出行</option>
              <option value="3" {{#ifeq expense.categoryId 3 }}selected{{/ifeq}} >休閒娛樂</option>
              <option value="4" {{#ifeq expense.categoryId 4 }}selected{{/ifeq}}>餐飲食品</option>
              <option value="5" >{{#ifeq expense.categoryId 5 }}selected{{/ifeq}}其他</option>
            </select>
          </div>
          <div class="col-12 d-flex align-items-center mb-4">
            <label for="amount" class="col-2">金額 *：</label>
            <input type="number" class="form-control" id="amount" placeholder="amount" name="amount" value="{{ expense.amount }}">
          </div>

          <button class="btn btn-primary" type="submit">送出
          </button>
    </form>
  </div>
</div>