<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-2">
      <div class="dropdown mb-3">
        <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          類別
        </a>

        <ul class="dropdown-menu text-center w-100">
          <li><a class="w-100" href="/">全部類別</a></li>
          <li><a class="w-100" href="/?sort=1">家居物業</a></li>
          <li><a class="w-100" href="/?sort=2">交通出行</a></li>
          <li><a class="w-100" href="/?sort=3">休閒娛樂</a></li>
          <li><a class="w-100" href="/?sort=4">餐飲食品</a></li>
          <li><a class="w-100" href="/?sort=5">其他</a></li>
        </ul>
      </div>

      <p>總金額：</p>
      <h2 class="text-center text-success">{{ totalAmount }}</h2>
    </div>

  
    <ul class="list-group col-sm-8 col-12 mb-3">
    {{#each expenses}}
      <li class="list-group-item d-flex justify-content-between align-items-center py-3 ps-4">
        <span class="text-info"><i class="fa-solid {{getIcon  this.categoryId}} fa-2xl"></i></span>
        <div class="div">
          <h2>{{ this.name }}</h2>
          <span>{{dateFormat this.date }}</span>
        </div>
        <p class="fs-2">{{ this.amount }}</p>
        <div >
          <a class="btn btn-light" href="./edit/{{ this._id }}" data-bs-toggle="tooltip" data-bs-placement="right" title="修改"><i class="fa-solid fa-pen-to-square"></i></a>
          <form action="./expense/{{this._id}}?_method=DELETE" method="post">
            <button type="submit" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="刪除"><i class="fa-solid fa-trash"></i></button>
          </form>
          
        </div>
        
      </li>
    {{/each}}

    {{#unless expenses}}
    <li class="list-group-item">還沒有支出，點擊下方新增</li>
    {{/unless}}
    </ul> 
    
    <div class="col-12 col-sm-8 d-flex justify-content-center">
        <a href="./new" class="btn btn-primary">新增支出</a>
    </div>
    
  </div>

 
</div>
